<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985564397416-09gh8p3loklujs7irk6sf842j40li125.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985564397416-09gh8p3loklujs7irk6sf842j40li125</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ifQ21fvzBCFFeuBq0AgB2SuBj3-3Sk4</string>
	<key>GCM_SENDER_ID</key>
	<string>985564397416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiApp</string>
	<key>PROJECT_ID</key>
	<string>taxicaller-e2d18</string>
	<key>STORAGE_BUCKET</key>
	<string>taxicaller-e2d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985564397416:ios:2c44fe9d1b12ce3e33e0dd</string>
</dict>
</plist>